/* Slider Styles */

:root{
 --purple:#6634A2; 
 --blue: #22A6DD; 
 --yellow: #FFB42B; 
 --green: #019563; 
 --red: #FF1100;
 --dark: #333;
 --gray: #666;
 --light-gray:#FBFBFB;
}

.slider-container{
  max-width:800px;
  height:auto;
  margin:0 auto;
  display:flex;
  justify-content:center;
  align-items: center;
}

.slider-row{
  height:400px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

.slide{
  background:var(--light-gray);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333333;
  margin:10px 0;
}

.slides-track{
 display:flex;
 justify-content:center;
 align-items: center;
}

.slide-upper{
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
}


.slide-avatar__container{
 width:120px;
 height:120px;
 border-radius: 50%;
 overflow:hidden;
 display:flex;
 justify-content:flex-end;
 align-items: center;
 flex-direction: column;
}


.slide-avatar{
 object-fit: contain;
 width:80%;
 height:80%;
}

.slide-name, .slide-job{
 text-align: center;
 color: var(--dark);
 margin: 5px 0 0 0 ;
}

.slide-info{
 padding:10px 0 0 0;
}


.slide-lower{
 max-width:80%;
 display:inline-block;
 margin:20px auto;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  align-items: center;
  margin:20px auto;
}

.fa-play{
 font-size: 42px;
 color: var(--dark);
 cursor:pointer;
}

.fa-play:nth-of-type(1){
 transform: rotate(180deg);
 margin-right:15px;
}

.fa-play:nth-of-type(2){
 margin-left:15px;
}


/* Slide Borders */
.slide:nth-of-type(1){
 border-bottom: 14px solid var(--purple);
}

.slide:nth-of-type(2){
 border-bottom: 14px solid var(--yellow);
}

.slide:nth-of-type(3){
 border-bottom: 14px solid var(--blue);
}

.slide:nth-of-type(4){
 border-bottom: 14px solid var(--green);
}

.slide:nth-of-type(5){
 border-bottom: 14px solid var(--red);
}



/* Avatar Backgrounds */

.slide:nth-of-type(1) .slide-avatar__container{
  background: var(--purple);
}

.slide:nth-of-type(2) .slide-avatar__container{
  background: var(--yellow);
}

.slide:nth-of-type(3) .slide-avatar__container{
  background: var(--blue);
}

.slide:nth-of-type(4) .slide-avatar__container{
  background: var(--green);
}

.slide:nth-of-type(5) .slide-avatar__container{
  background: var(--red);
}


/* Mobile */
@media only screen and (max-width:768px){
 .slider-row{
  height:100vh;
 }

 .slide-info{
  font-size:15px;
 }

 .slide-avatar__container{
  margin-top:30px;
 }

}