#wrapper{
  display:flex;
  flex-direction: column;
  height: 100%;
}

#main{

}

footer{
 width:80%;
 margin:0 auto;
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
}

.social-media{
  width:32px;
  height:32px;
  border-radius: 50%;
  background:var(--dark);
  color:#fff;
  display:inline-block;
  position:relative;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  margin:4vh 5px 0 5px;
}

.social-media:hover{
  color: #fff;
  transform: scale(1.2);
}

.social-media i{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-texts{
  padding-top: 15px;
  color: var(--gray);
}


.page-title{
  text-align: center;
  font-weight: bold;
  margin:20px auto;
}
